@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Cairo");
/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Cairo");
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(180px) rotateX(0deg) rotateY(180deg); }
  100% {
    transform: perspective(180px) rotateX(0deg) rotateY(360deg); } }
#sub_task_table, #admin_sub_task_table {
  width: 100%; }
  #sub_task_table .tableTitle th, #admin_sub_task_table .tableTitle th {
    color: white;
    background: #003366;
    border: 1px solid #003366; }
  #sub_task_table .tableTitle .titleLabel, #admin_sub_task_table .tableTitle .titleLabel {
    width: 5%; }
  #sub_task_table .tableTitle .secondaryTitleLabel, #admin_sub_task_table .tableTitle .secondaryTitleLabel {
    width: 40%; }
  #sub_task_table td .update, #admin_sub_task_table td .update {
    background: #3498DB;
    border: 1px solid #3498DB;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer; }
  #sub_task_table td .delete, #admin_sub_task_table td .delete {
    width: 80px;
    height: 30px;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    cursor: pointer; }

#newSubTaskTable {
  width: 50%;
  margin-bottom: 10px; }
  @media (orientation: portrait) {
    #newSubTaskTable {
      width: 100%; } }
  @media (orientation: portrait) {
    #newSubTaskTable .newSubTaskText {
      text-align: center; } }
  #newSubTaskTable .submitNewSubTaskBtn {
    background: #003366;
    border: 1px solid #003366;
    color: white;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    float: left; }
    @media (orientation: portrait) {
      #newSubTaskTable .submitNewSubTaskBtn {
        float: none;
        width: 100%; } }

/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(180px) rotateX(0deg) rotateY(180deg); }
  100% {
    transform: perspective(180px) rotateX(0deg) rotateY(360deg); } }
