@import "global.scss";

#special_duty_table {
    width: 100%;
    table-layout: fixed;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
        
        @media (orientation:landscape) and (max-width: 1400px){
            .noLabel {
                width: 5% !important; //!important is used to override the style forced by element.style
            }

            .specialDutyLabel {
                width: 18% !important;
            }

            .specialDutyDetail {
                width: 40% !important;
            }

            .timeLabel, .dateLabel {
                width: 15% !important;
            }
        }
    }
    
    td {
        .update {
            background: $tableupdatebtntheme;
            border: 1px solid $tableupdatebtntheme;
            color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
        
        .delete {
            width: 80px;
            height: 30px;
            padding: 5px 30px 5px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
    }
    
    .details {
        overflow: hidden;
        
        a.morelink {
            text-decoration:none;
            outline: none;
            cursor: pointer;
        }
        .morecontent span {
            display: none;
        }
    }
    
}

.pageTitle {
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 5px;
    
    @media (orientation: portrait) {
        text-align: center;
    }
}

.titleHr {
    margin-top: 0px;
}