@import "global.scss";

#pending_duty_table {
    width: 100%;
    overflow-x: scroll;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
        
        .titleLabel {
            width: 5%;
        }
    }
    
        td {
            .update {
                background: $tableupdatebtntheme;
                border: 1px solid $tableupdatebtntheme;
                color: white;
                padding: 10px 30px 10px 30px;
                border-radius: 5px;

                cursor: pointer;
            }
            
            .delete {
                width: 80px;
                height: 30px;
                padding: 5px 30px 5px 30px;
                border-radius: 5px;

                cursor: pointer;
            }
        }
}