@import "supervisorSubTaskStyle.scss";
@import "global.scss";

#admin_sub_task_table {
    @extend #sub_task_table;
}

.title {
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 5px;
    
    @media (orientation: portrait){
        text-align: center;
    }
}

.pageHr {
    margin-top: 5px;
}