.profilePicture {
    display: inline-block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    
    object-fit: cover;
}

.previewCol {
    margin-top: -20px;
    
    #output {
        display: inline-block;
        width: 128px;
        height: 128px;

        object-fit: cover;
        margin-top: -5px;
    }
}

table {
    width: 40%;
}

#newImage, #confirmUpload {
    //None
}

.pageTitle {
    margin-bottom: 0px;
    padding-top: 16px;
    letter-spacing: 10px;
    font-weight: bold;
    
    @media (orientation: portrait){
        text-align: center;
        padding-top: 5px;
    }
}

#sideBarCollapse{
    margin-top: 16px;
}

.pageTitleHr {
   margin-top: 8px;
}

.userSettingList {
    td {
        label {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}

.profPicCol {
    .profPicLabel {
        font-weight: bold;
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    hr {
        margin-top: 0px;
    }
}

.settingLabel {
    font-weight: bold;
    font-size: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.otherHr {
    margin-top: 0px;
}

