@import "global.scss";
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */

//User table
#user_table {

    th {
        color: white;
        background: #1E88E5;
        border: 1px solid #1E88E5;
    }
    
    #user_table_body {
        td {
            .update {
                background: #3498DB;
                border: 1px solid #3498DB;
                color: white;
                padding: 10px 30px 10px 30px;
                border-radius: 5px;

                cursor: pointer;
            }

            .delete {
                width: 80px;
                height: 30px;
                padding: 5px 30px 5px 30px;
                border-radius: 5px;

                cursor: pointer;
            }
        }
    }
    
}

/* ---------------------------------------------------
    FORM STYLE
----------------------------------------------------- */
.adminUserTable {
    width: 100%;
    
    tr {
        td {
            label {
                font-weight: bold;
                padding-right: 20px;
            }
            .newUserTitle {
                letter-spacing: 1px;
                font-size: 21px;
            }
            .newUserHr {
                margin-top: 0px;
                width: 100%;
            }
            
            .addNewUserBtn {
                float: right;
                
                padding: 10px 30px 10px 30px;
                border-radius: 5px;
                color: white;
                background: $mainbuttontheme;
                border: 1px solid $mainbuttontheme;
            }
        }
    }
}


/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
.pageTitle {
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 5px;
}

.userTitleHr {
    margin-top: 0px;
}
    
    