@import "global.scss";

#admin_duty_table {
    width: 100%;
    overflow-x: scroll;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
        
        .titleLabel {
            width: 5%;
        }
    }
    
        td {
            .delete {
                width: 110px;
                height: 43px;
                padding: 5px 30px 5px 30px;
                border-radius: 5px;

                cursor: pointer;
            }
        }
}