@import "global.scss";

#morning_schedule_table{
    width: 100%;
    
    thead{
        font-family: $font;
        
        th {
            background: $tablemaintheme;
            color: white;
        }
    }
    
    tbody{
        tr {
            &:nth-child(odd) {
                background: $admintabletheme;
                color: black;
            } 
            &:nth-child(even) {
                background: white;
            }
        }
        
        .update {
                background: $tableupdatebtntheme;
                border: 1px solid $tableupdatebtntheme;
                color: white;
                padding: 10px 30px 10px 30px;
                border-radius: 5px;

                cursor: pointer;
            }

            .delete {
                padding: 5px 30px 5px 30px;
                border-radius: 5px;

                cursor: pointer;
            }
    }
}

.pageTitle {
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 5px;
    
    @media (orientation: portrait) {
        text-align: center;
    }
}

.titleHr {
    margin-top: 0px;
}