@import "global.scss";
@import "supervisorTaskStyle.scss";

#admin_task_table {
    width: 100%;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
    }
    
    .titleLabel {
        width: 5%;
    }
    
    td {
        .update {
            background: $tableupdatebtntheme;
            border: 1px solid $tableupdatebtntheme;
            color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
        
        .delete {
            width: 110px;
            height: 43px;
            padding: 5px 30px 5px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
    }
}

.title {
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 5px;
    
    @media (orientation: portrait){
        text-align: center;
    }
}

.pageHr {
    margin-top: 5px;
}