@import "global.scss";

.tab-content {
    .container {
        margin: 0px;
    }
}

.pageTitle {
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    
    @media (orientation:portrait) {
        margin-top: 1px;
        text-align: center;
    }
}

.titleHr {
    margin-top: 0px;
}

.titleDate {
    @media (orientation:portrait){
        text-align: center;
    }
}

.pendingDutyTable, .completedDutyTable {
    overflow-y: scroll;
}

.nav {
    .nav-item {
        a {
            color: black;
        }
        
        .active {
            background: $mainbuttontheme;
            color: white;
        }
    }
    
}