@import "global.scss";

.tab-content {
    .container {
        margin: 0px;
    }
}

.pageTitle {
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    
    @media (orientation:portrait) {
        margin-top: 1px;
        text-align: center;
    }
}

.titleHr {
    margin-top: 0px;
}

.titleDate {
    @media (orientation:portrait){
        text-align: center;
    }
}

.topDutyTitleHr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dutyTitle {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    
    background: $mainbuttontheme;
    color: white;
}

.bottomDutyTitleHr {
    margin-top: 0px;
    padding-top: 0px;
}

.pendingDutyTab {
    width: 100%;
    
    .pendingDutyTable {
        width: 100%;

        tr {
            .subTaskCol {
                width: 35%;
            }

            .subCommentCol {
                width: 50%;
            }

            .subStateCol {
                width: 15%;
            }
            
            td {
                padding: 10px;
                padding-right: 30px;
            }
        }

    }
}


.completedDutyTable {
    width: 100%;
}