@import "global.scss";

/* ---------------------------------------------------
    PENDING DUTY TABLE STYLE
----------------------------------------------------- */

#pendingDutyTab {
    width: 100%;
    
    .pendingDutyTable {
        tr {
            .subTaskCol {
                width: 30%;

                hr {
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                }

                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }

            .subCommentCol {
                width: 55%;

                hr {
                    margin: 0px;
                    padding: 0px;
                }

                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }

            .subStateCol {
                width: 15%;

                hr {
                    margin: 0px;
                    padding: 0px;
                }

                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }
            
            .pendingComment, .completePendingDuty, .pendingSubTask {
                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }
        }
    }
}



/* ---------------------------------------------------
    COMPLETED DUTY TABLE STYLE
----------------------------------------------------- */

#completedDutyTab {
    .completedDutyTable {
        width: 100%;
        
        tr {
            .completeTaskCol {
                width: 30%;

                hr {
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                }

                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }

            .completeCommentCol {
                width: 55%;

                hr {
                    margin: 0px;
                    padding: 0px;
                }

                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }
            
            .completeComment, .completeSubTask {
                @media (orientation:portrait) and (max-width:450px){
                    text-align: center;
                }
            }
        }
    }
}

/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */

tbody {
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.container-fluid {
    @media (orientation: portrait) and (max-width: 700px){
        padding: 0px;
    }
}

ul {
    padding-left: 10px;
    
    @media (orientation:portrait) and (max-width: 500px){
        padding-left: 0px;
    }
}

.tab-content {
    .container {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.pageTitle {
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    
    @media (orientation:portrait) {
        margin-top: 1px;
        text-align: center;
    }
}

.titleHr {
    margin-top: 0px;
}

.titleDate {
    @media (orientation:portrait){
        text-align: center;
    }
}

.topDutyTitleHr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dutyTitle {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    
    background: $mainbuttontheme;
    color: white;
}

.bottomDutyTitleHr {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
}

@media (orientation:portrait) and (max-width: 360px){
    .nav-tabs {
        .nav-link, .nav-item {
            text-align: center;
            width: 100%;
        }
    }
}