@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Cairo');

$themecolor: #2196F3;
$secondarycolor: #033C73;
$font: "News Cycle";
$mainbuttontheme: #003366;
$secondarybuttontheme: #FF3366;
$subbuttontheme: #0066CC;
$tableheadertheme: #1E88E5;
$tableupdatebtntheme: #3498DB;

/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
@mixin navValues() {
    background-color: $themecolor;
    border-bottom: 0.1px solid $themecolor;
    border-top: 0.1px solid $themecolor;
    border-right: 0.1px solid $themecolor;
    border-left: 0.1px solid $themecolor;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    
    cursor: pointer;
}

@mixin modalContent() {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

@mixin footerValues() {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */

@-webkit-keyframes sk-rotateplane {
  0% { 
      -webkit-transform: perspective(120px) 
    }
  50% { 
      -webkit-transform: perspective(120px) rotateY(180deg) 
    }
  100% { 
      -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) 
    }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(180px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(180px) rotateX(0deg) rotateY(180deg);
  } 100% { 
    transform: perspective(180px) rotateX(0deg) rotateY(360deg);
  }
}