@import "global.scss";

/* ---------------------------------------------------
    Main Style
----------------------------------------------------- */
body {
    font-family: 'Cairo';
    letter-spacing: .6px;
}

#subcontent {
    min-height: 100%;
    position: relative;
}

.container-fluid {
    max-width: 1400px;
    border-radius: 10px;
}

.footer {
    position: absolute;
    color: white;
    width: 100%;
    line-height: 50px;
    background-color: $themecolor;
        
    .footermaincontent {
        float: left;
    }
    
    .footericon {
        float: right;
    }
}

.loginIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
    object-fit: cover;
}

.footericon, .footercontent {
    width: 3%;
    @include footerValues();
}

#mobilenav {
    .mobileLoginBtn {
        color: white;
    }
}

.modal-content {
    @include modalContent();
}

/* ---------------------------------------------------
    BROWSER RESIZING STYLE
----------------------------------------------------- */

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #mobilenav {
        .mobileLoginBtn {
            color: white;
        }
    }
    
    .cancelbtn, .forgotbtn {
        width: 100%;
    }
    
    .changePassPic {
        width: 100%;
    }
    
    .modal-content {
        @include modalContent();
        width: 70%;
    }
    .modal {
        padding-top: 60px;
    }
    
    .loginTitle {
        font-size: 21px;
    }
    
    #next {
        width: 100%;
        border: 2px solid slategray;
    }
    
    .footericon, .footercontent {
        width: 10%;
        @include footerValues();
    }
    
    .userSettingsTable {
        width: 5%;
    }
    
    @media (orientation:portrait) {
        .dataTables_length, .dataTables_filter {
            float: left !important;
        }
    } 
}

.nav {
    .nav-item {
        a {
            color: black;
        }
        
        .active {
            background: $mainbuttontheme;
            color: white;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .footericon, .footercontent {
        width: 7%;
        @include footerValues();
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .footericon, .footercontent {
        width: 5%;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .footericon, .footercontent {
        width: 5%;
        @include footerValues();
    }
    
    #desknav {
        .nav-item {
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
            
            @media (orientation: portrait){
                padding-left: 5px;
                padding-right: 5px;
            }
            @media (orientation: landscape) and (max-width:1030px){
                padding-left: 5px;
                padding-right: 5px;
            }
        }   
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #desknav {
        .nav-item {
            padding-left: 35px;
            padding-right: 35px;
            
            @media (orientation:landscape) and (max-width: 1400px){
                padding-left: 28px;
                padding-right: 28px;
            }
        }
    }
}

