@import "global.scss";


/* ---------------------------------------------------
    BROWSER RESIZING STYLE
----------------------------------------------------- */

//For screens bigger than a tablet
@media (min-width: 769px) { 
    .background{
        max-width: 100%;
    }
    
    /* Modal Content/Box */
    .modal-content {
        @include modalContent();
    }
}

//For phones and tablets
@media (max-width: 768px) { 
    .container {
        margin: 0px;
        max-width: 100%;
        
        .background {
            overflow-x: auto;
            max-width: 100%;
        }
    }
    
    .modal-content {
        @include modalContent();
    }
}
