.mainPage .titleHr {
  width: 40%;
  height: 1px;
  background: black;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }
  @media (orientation: portrait) {
    .mainPage .titleHr {
      width: 100%; } }
  @media (orientation: landscape) and (max-width: 1022px) {
    .mainPage .titleHr {
      width: 65%; } }
@media (orientation: portrait) {
  .mainPage .titleLabel {
    text-align: center; } }
.mainPage .details .detailsLabel {
  width: 60%; }
  @media (orientation: portrait) {
    .mainPage .details .detailsLabel {
      width: 100%; } }
.mainPage .timeDateContainer {
  margin-top: 0px; }
  @media (orientation: landscape) and (min-width: 1023px) {
    .mainPage .timeDateContainer {
      width: 40%; }
      .mainPage .timeDateContainer .dateLabel {
        float: left; }
      .mainPage .timeDateContainer .timeLabel {
        float: right; } }
  @media (orientation: portrait) {
    .mainPage .timeDateContainer {
      width: 100%; }
      .mainPage .timeDateContainer .dateLabel {
        float: left; }
      .mainPage .timeDateContainer .timeLabel {
        float: right;
        margin-top: 0px; } }
.mainPage label {
  font-weight: bold; }
.mainPage a.morelink {
  text-decoration: none;
  outline: none; }
.mainPage .morecontent span {
  display: none; }

.mainPageimg {
  width: 30%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 0px; }
  @media (orientation: portrait) {
    .mainPageimg {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto; } }

.pageTitle {
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline; }
  @media (orientation: portrait) {
    .pageTitle {
      text-align: center; } }
