@import "global.scss";

/* ---------------------------------------------------
    USER SETTINGS BUTTON STYLE
----------------------------------------------------- */
.navbar-toggler {
    border: 0.1px solid $themecolor;
}

.profile-settings {
    width: 220px;
    left: auto;
    right: 0;
    
    .settingtitle {
        color: black;
        padding-bottom: 10px;
    }
    
    .settings {
        width: 100%;
        background-color: white;
        border: 0px solid white;
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            background-color: $secondarycolor;
            color: white;
        }
    }
}


#settingsMenu {
    left: auto;
    right: 0;
}

/* ---------------------------------------------------
    GENERAL NAVBAR
----------------------------------------------------- */
.navbar {
    font-family: $font;
    background-color: $themecolor;
    padding: 0px;

    border: 0.1px solid $themecolor;
    
    .nav-item{
        &:hover {
            background-color: $secondarycolor;
            color: white;
            border-radius: 5px;

            cursor: pointer;
        }
        
        a {
            color: white;
        }
        
        .dropdown-menu {
            a{
                color: black;
            }
            
        }
    }
}
    
.deskLoginBtn {
    @include navValues();
    
    padding: 13px;
    padding-left: 0px;
}

#deskLogin {
    color: white;
    padding-bottom: 0px;
}

.mobileLoginBtn {
    @include navValues();
    letter-spacing: 0px;
    padding-right: 5px;
}
    
.deskLoginBtn, .mobileLoginBtn, .loginIcon {
    &:hover {
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: #FFFFFF;
        -webkit-fill-color: #FFFFFF;
        text-shadow: 1px 0px 20px white;
    }    
}

.loginIcon {
    padding-bottom: 3px;
}

/* ---------------------------------------------------
    NAVIGATION BAR STYLE
----------------------------------------------------- */

#desknav {
    font-size: 120%;
    
    .pageIcon {
        width: 4%;
    }
    
    #taskDropDown, #dutyDropDown, #attendanceDropDown {
        .dropdown-menu {
            width: 100%;
            text-align: center;
        }
    }
}

#mobilenav {
    padding-top: 7px;
    padding-bottom: 7px;
    
    .pageIcon {
        width: 10%;
    }
}

#navbarNavAltMarkup1 {
    @extend #mobilenav;
    @extend .navbar;
    
    .nav-item {
        padding-left: 40px;
        color: white;
    }
}