@import "global.scss";

/* ---------------------------------------------------
    USER SETTINGS BUTTON STYLE
----------------------------------------------------- */
.navbar-toggler {
    border: 0.1px solid $themecolor;
}

.profile-settings {
    width: 220px;
    right: 5%;
    left: auto;
    
    .settingtitle {
        color: black;
        padding-bottom: 10px;
    }
    
    .settings {
        width: 100%;
        background-color: white;
        border: 0px solid white;
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            background-color: $secondarycolor;
            color: white;
        }
    }
}

/* ---------------------------------------------------
    GENERAL NAVBAR
----------------------------------------------------- */
.navbar {
    font-family: $font;
    background-color: $themecolor;
    padding: 0px;

    border: 0.1px solid $themecolor;
}
    
.deskLoginBtn {
    @include navValues();
    
    padding: 13px;
    padding-left: 0px;
}

#deskLogin {
    color: white;
    padding-bottom: 0px;
}

.mobileLoginBtn {
    @include navValues();
}
    
.deskLoginBtn, .mobileLoginBtn, .loginIcon {
    &:hover {
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: #FFFFFF;
        -webkit-fill-color: #FFFFFF;
        text-shadow: 1px 0px 20px white;
    }    
}

.loginIcon {
    padding-bottom: 3px;
}

/* ---------------------------------------------------
    NAVIGATION BAR STYLE
----------------------------------------------------- */

#desknav {
    font-size: 120%;
    
    .nav-item {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #deskDropDown {
        .dropdown-menu {
            color: white;

            padding-left: 40px;
            padding-right: 30px;
        }
    }
}

#mobilenav {
    padding-top: 7px;
    padding-bottom: 7px;
}
#navbarNavAltMarkup1 {
    @extend #mobilenav;
    @extend .navbar;
    
    .nav-item {
        padding-left: 40px;
        color: white;
    }
    
    #mobileDropDown {
        #mobileMenu {
            background-color: black;
            padding-left: 0px;

            .dropdown-item {
                color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

.nav-item:hover{
    background-color: $secondarycolor;
    color: white;
    
    cursor: pointer;
}