/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff !important;
    transition: all 0.3s;
    margin-left: -300px;
    overflow-y: scroll;
        
    &.active {
        margin-left: 0px;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }
    
    .components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    
    ul {
        h4 {
            color: #fff;
            padding: 10px;
            margin-bottom: 0px;
        }
        
        .sideNavHeading {
            margin-top: 0px;
        }
        
        li {
            a {
                padding: 10px;
                font-size: 1.0em;
                display: block;
                color: white;
                
                &:hover{
                    color: #7386D5;
                    background: #fff;
                }
            }
        } 
    }
}

#sideBarCollapse {
    float: right;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    #content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;
        top: 0;
        right: 0;
    }