@import "global.scss";

#special_duty_table {
    width: 100%;
    
    th {
        color: white;
        background: $tableheadertheme;
        border: 1px solid $tableheadertheme;
    }
    
    td {
        .update {
            background: $tableupdatebtntheme;
            border: 1px solid $tableupdatebtntheme;
            color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
        
        .delete {
            width: 80px;
            height: 30px;
            padding: 5px 30px 5px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
    }
}