@import "global.scss";

#special_duty_table {
    width: 100%;
    table-layout: fixed;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
        
        .noLabel {
            width: 5% !important; //!important is used to override the style forced by element.style
        }
        
        .specialDutyLabel {
            width: 18% !important;
        }
        
        .specialDutyDetail {
            width: 40% !important;
        }
        
        .timeLabel, .dateLabel {
            width: 15% !important;
        }
        
        //37% left of width that can be used for other columns
        //Feel free to adjust if needed
    }
    
    td {
        .update {
            background: $tableupdatebtntheme;
            border: 1px solid $tableupdatebtntheme;
            color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
        
        .delete {
            width: 80px;
            height: 30px;
            padding: 5px 30px 5px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
    }
    
    .details {
        overflow: hidden;
        
        a.morelink {
            text-decoration:none;
            outline: none;
        }
        .morecontent span {
            display: none;
        }
    }
    
}