@import "global.scss";

/* ---------------------------------------------------
    MORNING TABLE STYLE
----------------------------------------------------- */
.morningTable,
.afternoonTable{
    width: 100%;
    
    thead{
        font-family: $font;
        
        th {
            background: white;
        }
    }
    
    tbody{
        tr {
            &:nth-child(odd) {
                background: $tablemaintheme;
                color: white;
                
                select {
                    background: #D0E4F5;
                    
                    option {
                        background: white;
                    }
                }
                
                &.morningBtnRow {
                    background: white;
                    border-bottom: 1px solid white;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                }
                &.afternoonBtnRow {
                    @extend .morningBtnRow;
                }
            } 
            &:nth-child(even) {
                background: white;
                
                select {
                    background: white;
                    
                    option {
                        background: white;
                    }
                }
            }
        }
        td {
            select {
                border: 0px;
                width: 100%;
            }
        }
        
        .morningButtons,
        .afternoonButtons{
            float: right;
        }
        
        .updateBtn, .deleteBtn {
            padding: 10px;
            margin: 3px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            
            cursor: pointer;
            
            &.updateBtn {
                background: $mainbuttontheme;
                border: 1px solid $mainbuttontheme;
                margin-right: 0px;
            }
            &.deleteBtn {
                background: $secondarybuttontheme;
                border: 1px solid $secondarybuttontheme;
            }
        }
    }
}
.taskColumn, .remarkColumn {
    width: 10%;
}


/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
.scheduleHr {
    border: none;
    height: 2px;
    background-color: black;
    margin-left:0;
    width: 90%;
    
    margin-top: 0px;
    margin-bottom: 30px;
    
    @media (orientation:portrait){
        width: 100%;
    }
}

.titleHr {
    margin-top: 0px;
    height: 1px;
    background: black;
}

.scheduleTitle {
    letter-spacing: 5px;
    
    @media (orientation:portrait){
        text-align: center;
    }
}

.scheduleDate {
    @media (orientation:portrait){
        text-align: center;
    }
}

.dayLabel {
    font-weight: bold;
    
    @media (orientation:portrait){
        text-align: center;
    }
}

.nextWeekBtn, .scheduleFormBtn {
    float: right;
    background: $subbuttontheme;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3px;
    color: white;
    
    &:link {
        color: white;
        text-decoration: none;
    }
    
    &:visited {
        color: white;
        text-decoration: none;
    }
    
    &.scheduleFormBtn {
        margin-right: 10px;
    }
    
    @media (orientation:portrait){
        float: none;
        
        width: 100%;    
        display: inline-block;
        text-align: center;
    }
}