@import "global.scss";

//TABLE STYLE
#sub_task_table {
    width: 100%;
    
    .tableTitle {
        th {
            color: white;
            background: $tablemaintheme;
            border: 1px solid $tablemaintheme;
        }
        
        .titleLabel {
            width: 5%;
        }
        
        .secondaryTitleLabel {
            width: 40%;
        }
    }
    
    td {
        .update {
            background: $tableupdatebtntheme;
            border: 1px solid $tableupdatebtntheme;
            color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
        
        .delete {
            width: 80px;
            height: 30px;
            padding: 5px 30px 5px 30px;
            border-radius: 5px;
            
            cursor: pointer;
        }
    }
}

#newSubTaskTable {
    width: 50%;
    
    margin-bottom: 10px;
    
    @media (orientation:portrait){
        width: 100%;
    }
    
    .newSubTaskText {
        @media (orientation:portrait){
            text-align: center;
        }
    }
    
    .submitNewSubTaskBtn {
        background: $mainbuttontheme;
        border: 1px solid $mainbuttontheme;
        color: white;
        cursor: pointer;
        
        padding: 10px 30px 10px 30px;
        border-radius: 5px;
        float: left;
        
        @media (orientation:portrait){
            float: none;
            width: 100%;
        }
    }
}

.title {
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 5px;
    
    @media (orientation: portrait){
        text-align: center;
    }
}

.pageHr {
    margin-top: 5px;
}