@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Cairo");
/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(180px) rotateX(0deg) rotateY(180deg); }
  100% {
    transform: perspective(180px) rotateX(0deg) rotateY(360deg); } }
/* ---------------------------------------------------
    PENDING DUTY TABLE STYLE
----------------------------------------------------- */
#pendingDutyTab {
  width: 100%; }
  #pendingDutyTab .pendingDutyTable tr .subTaskCol {
    width: 30%; }
    #pendingDutyTab .pendingDutyTable tr .subTaskCol hr {
      margin: 0px;
      padding: 0px;
      width: 100%; }
    @media (orientation: portrait) and (max-width: 450px) {
      #pendingDutyTab .pendingDutyTable tr .subTaskCol {
        text-align: center; } }
  #pendingDutyTab .pendingDutyTable tr .subCommentCol {
    width: 55%; }
    #pendingDutyTab .pendingDutyTable tr .subCommentCol hr {
      margin: 0px;
      padding: 0px; }
    @media (orientation: portrait) and (max-width: 450px) {
      #pendingDutyTab .pendingDutyTable tr .subCommentCol {
        text-align: center; } }
  #pendingDutyTab .pendingDutyTable tr .subStateCol {
    width: 15%; }
    #pendingDutyTab .pendingDutyTable tr .subStateCol hr {
      margin: 0px;
      padding: 0px; }
    @media (orientation: portrait) and (max-width: 450px) {
      #pendingDutyTab .pendingDutyTable tr .subStateCol {
        text-align: center; } }
  @media (orientation: portrait) and (max-width: 450px) {
    #pendingDutyTab .pendingDutyTable tr .pendingComment, #pendingDutyTab .pendingDutyTable tr .completePendingDuty, #pendingDutyTab .pendingDutyTable tr .pendingSubTask {
      text-align: center; } }

/* ---------------------------------------------------
    COMPLETED DUTY TABLE STYLE
----------------------------------------------------- */
#completedDutyTab .completedDutyTable {
  width: 100%; }
  #completedDutyTab .completedDutyTable tr .completeTaskCol {
    width: 30%; }
    #completedDutyTab .completedDutyTable tr .completeTaskCol hr {
      margin: 0px;
      padding: 0px;
      width: 100%; }
    @media (orientation: portrait) and (max-width: 450px) {
      #completedDutyTab .completedDutyTable tr .completeTaskCol {
        text-align: center; } }
  #completedDutyTab .completedDutyTable tr .completeCommentCol {
    width: 55%; }
    #completedDutyTab .completedDutyTable tr .completeCommentCol hr {
      margin: 0px;
      padding: 0px; }
    @media (orientation: portrait) and (max-width: 450px) {
      #completedDutyTab .completedDutyTable tr .completeCommentCol {
        text-align: center; } }
  @media (orientation: portrait) and (max-width: 450px) {
    #completedDutyTab .completedDutyTable tr .completeComment, #completedDutyTab .completedDutyTable tr .completeSubTask {
      text-align: center; } }

/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
tbody {
  width: 100%;
  display: table;
  margin-bottom: 10px; }

@media (orientation: portrait) and (max-width: 700px) {
  .container-fluid {
    padding: 0px; } }

ul {
  padding-left: 10px; }
  @media (orientation: portrait) and (max-width: 500px) {
    ul {
      padding-left: 0px; } }

.tab-content .container {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.pageTitle {
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 5px; }
  @media (orientation: portrait) {
    .pageTitle {
      margin-top: 1px;
      text-align: center; } }

.titleHr {
  margin-top: 0px; }

@media (orientation: portrait) {
  .titleDate {
    text-align: center; } }

.topDutyTitleHr {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.dutyTitle {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #003366;
  color: white; }

.bottomDutyTitleHr {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px; }

@media (orientation: portrait) and (max-width: 360px) {
  .nav-tabs .nav-link, .nav-tabs .nav-item {
    text-align: center;
    width: 100%; } }

/*# sourceMappingURL=cleanerOwnDutyStyle.css.map */
