@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Cairo");
/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(180px) rotateX(0deg) rotateY(180deg); }
  100% {
    transform: perspective(180px) rotateX(0deg) rotateY(360deg); } }
/* ---------------------------------------------------
    Main Style
----------------------------------------------------- */
body {
  font-family: 'Cairo';
  letter-spacing: .6px; }

#subcontent {
  min-height: 100%;
  position: relative; }

.container-fluid {
  max-width: 1400px;
  border-radius: 10px; }

.footer {
  position: absolute;
  color: white;
  width: 100%;
  line-height: 50px;
  background-color: #2196F3; }
  .footer .footermaincontent {
    float: left; }
  .footer .footericon {
    float: right; }

.loginIcon {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover; }

.footericon, .footercontent {
  width: 3%;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px; }

#mobilenav .mobileLoginBtn {
  color: white; }

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */ }

/* ---------------------------------------------------
    BROWSER RESIZING STYLE
----------------------------------------------------- */
@media (max-width: 575.98px) {
  #mobilenav .mobileLoginBtn {
    color: white; }

  .cancelbtn, .forgotbtn {
    width: 100%; }

  .changePassPic {
    width: 100%; }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    width: 70%; }

  .modal {
    padding-top: 60px; }

  .loginTitle {
    font-size: 21px; }

  #next {
    width: 100%;
    border: 2px solid slategray; }

  .footericon, .footercontent {
    width: 10%;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px; }

  .userSettingsTable {
    width: 5%; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .footericon, .footercontent {
    width: 7%;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .footericon, .footercontent {
    width: 5%;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footericon, .footercontent {
    width: 5%;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px; }

  #desknav .nav-item {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px; } }
@media (min-width: 1200px) {
  #desknav .nav-item {
    padding-left: 40px;
    padding-right: 40px; } }

/*# sourceMappingURL=mainStyle.css.map */
