@import url("https://fonts.googleapis.com/css?family=News+Cycle:700,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Cairo");
/* ---------------------------------------------------
    Navigation Bar Values
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATION
----------------------------------------------------- */
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(180px) rotateX(0deg) rotateY(180deg); }
  100% {
    transform: perspective(180px) rotateX(0deg) rotateY(360deg); } }
/* ---------------------------------------------------
    USER SETTINGS BUTTON STYLE
----------------------------------------------------- */
.navbar-toggler {
  border: 0.1px solid #2196F3; }

.profile-settings {
  width: 220px;
  left: auto;
  right: 0; }
  .profile-settings .settingtitle {
    color: black;
    padding-bottom: 10px; }
  .profile-settings .settings {
    width: 100%;
    background-color: white;
    border: 0px solid white;
    padding: 10px; }
    .profile-settings .settings:hover {
      cursor: pointer;
      background-color: #033C73;
      color: white; }

#settingsMenu {
  left: auto;
  right: 0; }

/* ---------------------------------------------------
    GENERAL NAVBAR
----------------------------------------------------- */
.navbar, #navbarNavAltMarkup1 {
  font-family: "News Cycle";
  background-color: #2196F3;
  padding: 0px;
  border: 0.1px solid #2196F3; }
  .navbar .nav-item:hover, #navbarNavAltMarkup1 .nav-item:hover {
    background-color: #033C73;
    color: white;
    border-radius: 5px;
    cursor: pointer; }
  .navbar .nav-item a, #navbarNavAltMarkup1 .nav-item a {
    color: white; }
  .navbar .nav-item .dropdown-menu a, #navbarNavAltMarkup1 .nav-item .dropdown-menu a {
    color: black; }

.deskLoginBtn {
  background-color: #2196F3;
  border-bottom: 0.1px solid #2196F3;
  border-top: 0.1px solid #2196F3;
  border-right: 0.1px solid #2196F3;
  border-left: 0.1px solid #2196F3;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  cursor: pointer;
  padding: 13px;
  padding-left: 0px; }

#deskLogin {
  color: white;
  padding-bottom: 0px; }

.mobileLoginBtn {
  background-color: #2196F3;
  border-bottom: 0.1px solid #2196F3;
  border-top: 0.1px solid #2196F3;
  border-right: 0.1px solid #2196F3;
  border-left: 0.1px solid #2196F3;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0px;
  padding-right: 5px; }

.deskLoginBtn:hover, .mobileLoginBtn:hover, .loginIcon:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px white; }

.loginIcon {
  padding-bottom: 3px; }

/* ---------------------------------------------------
    NAVIGATION BAR STYLE
----------------------------------------------------- */
#desknav {
  font-size: 120%; }
  #desknav .pageIcon {
    width: 4%; }
  #desknav #taskDropDown .dropdown-menu, #desknav #dutyDropDown .dropdown-menu, #desknav #attendanceDropDown .dropdown-menu {
    width: 100%;
    text-align: center; }

#mobilenav, #navbarNavAltMarkup1 {
  padding-top: 7px;
  padding-bottom: 7px; }
  #mobilenav .pageIcon, #navbarNavAltMarkup1 .pageIcon {
    width: 10%; }

#navbarNavAltMarkup1 .nav-item {
  padding-left: 40px;
  color: white; }

/*# sourceMappingURL=navigationBarStyle.css.map */
